// Portfolio Modal 3
#portfolioModal3.portfolio-modal.modal.fade(tabindex='-1', aria-labelledby='portfolioModal3', aria-hidden='true')
    .modal-dialog.modal-xl
        .modal-content
            .modal-header.border-0
                button.btn-close(type='button', data-bs-dismiss='modal', aria-label='Close')
            .modal-body.text-center.pb-5
                .container
                    .row.justify-content-center
                        .col-lg-8
                            // Portfolio Modal - Title
                            h2.portfolio-modal-title.text-secondary.text-uppercase.mb-0 BreadnB
                            // Icon Divider
                            .divider-custom
                                .divider-custom-line
                                .divider-custom-icon
                                    i.fas.fa-star
                                .divider-custom-line
                            // Portfolio Modal - Image
                            img.img-fluid.rounded.mb-5(src='assets/img/portfolio/breadnb.png', alt='...')
                            // Portfolio Modal - Text
                            p.mb-4
                                | BreadnB is an airbnb clone. Users can host and book places to stay and leave reviews. BreadnB also has a search feature to effortlessly find locations. It uses React front end and Express back end.
                            button.btn.btn-primary(type="button" onclick="window.location.href='//breadnb.herokuapp.com'") Visit BreadnB
                            a(onclick="window.location.href='//github.com/Chloe-Baylock/w15soloProject'") 
                                img(style="width:40px;cursor:pointer" src="https://github.githubassets.com/images/modules/logos_page/GitHub-Mark.png")